<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diagnosis.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @diagnosis.short_name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @diagnosis.summary %>
</p>

<p>
  <strong>Inheritance:</strong>
  <%= @diagnosis.inheritance %>
</p>

<p>
  <strong>Evolution:</strong>
  <%= @diagnosis.evolution %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @diagnosis.comment %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
